---
---

/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "_variables";
@import "_normalize";
@import "_iconfont";


	$link-color: #ec4f00;
	$main-color-2: #a43b00;


.cf:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.cf {
    display: inline-block;
}
 
html[xmlns] .cf {
    display: block;
}
 
* html .cf {
    height: 1%;
}

  html { 
    background: #FFFAF2 url(../images/bg2.png) repeat top left; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    line-height: 1.5;
    
  }

  body {
    color: #303030;
    font-size: 16px;
    font-family: 'Fira Sans', Arial;
  }

  header {

  }

  ul {
    margin: 0;
    padding: 0;
  }

  h1 {
    font-size: 2.4rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  p {
    margin-bottom: 2rem;
  }

  a {
  	color: $link-color;

  	&:hover {
  		color: lighten($link-color, 10%);
  	}
  }

  strong {
    font-weight: bold;
  }

  .logo-container {
    text-align: center;
  }

  .profile {
    border: 1px solid rgb(236, 79, 0);
    box-sizing: border-box;
  }

  .navigation {

  		$nav-bg: rgba(230, 230, 230, 0.9);
      

      font-size: 14px;
      

      .nav-icon {
        display: block;
        font-size: 2rem;
      }

  		background: $nav-bg;
  		border-top: 1px solid #ccc;
  		position: fixed;
  		bottom: 0;
  		width: 100%;


  		li { 
  			float: left;
  			width: 25%;
  			text-align: center;
  		}

  		a {
  			color: #666;
  			display: block;
        outline: none;
  			padding: 10px 0;
  			text-decoration: none;

        &:focus,
  			&:hover {
  				background: lighten($nav-bg, 5%);
  			}

        &.is-active {
          background: #fff;
        }
  		}

      @media(min-width: $nav-breakpoint) {

          border-right: 1px solid #ccc;
          left: 0;
          height: 100%;
          width: $nav-width;

          ul {
            margin-top: 20px;
          }

          li { 

            border-bottom: 1px solid #ccc;
            float: none;
            width: 100%;
            max-width: none;
            text-align: left;

            a {
              padding: 15px 20px;
            }
          }

          .nav-icon {
            display: inline-block;
            margin-right: 5px;
            position: relative;
            top: 4px;
          }
      }
  }


  #sidebarlogo {

    display: none;

    @media(min-width: $nav-breakpoint) {
      display: block;
      opacity: 0.3;
    }
    
  }


  #layout {

    margin: 0 auto;

    max-width: 700px;

    > .inner {
    	padding: 10px;

       padding-bottom: 100px;
    }

    @media(min-width: $nav-breakpoint) {
      padding-left: $nav-width + 10px;

    }
  }

  .meta {
    color: #666;
  }

  .mt {
    margin-top: 20px;
  }

  .c {
    text-align: center;
  }

  .l-plain {
  	list-style: none;
  }

  .rounded {

    border-radius: 50%;
  }

  .post-date {
    background: $main-color-2;
    color: #fff;

    display: inline-block;
    font-weight: bold;
    padding: 10px;
    height: 45px;
    text-align: center;
    width: 55px;

    border-radius: 50%;
  }